{{define "head"}}  
    <title>Error</title>
{{end}}
{{define "body"}}   
  <h1  class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">404 Page </h1> <p>Go back to the <a href="/">Home page</a></p>
{{end}}