<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calhou-WebGo</title>
  <script src="https://cdn.tailwindcss.com"></script>
  {{template "head" .}}
</head>
<body class="bg-white text-black antialiased dark:bg-gray-950 dark:text-white">
  {{template "navbar"}}
  {{template "body" .}}
</body>
</html>